.auvo-progress {
    position        : relative;
    font-size       : $progress-font-size;
    border-radius   : $progress-border-radius;
    overflow        : hidden;
    background-color: $progress-bg;
    color           : $progress-bar-color;

    >main {
        position  : absolute;
        top       : 0;
        left      : 0;
        bottom    : 0;
        transition: $progress-bar-transition;
    }

    .auvo-progress-value {
        float: right;
    }
}